.cell {
	display: flex;
	align-items: center;
	border: 1px solid #282c34;
	position: relative;
	z-index: 2;
	cursor: pointer;
	flex-grow: 1;
	height: auto;
	display: flex;
	flex-shrink: 0;
	flex-basis: 0;
	font-weight: bold;
	justify-content: center;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	perspective: 1000px;
	&:before {
		padding-top: 100%;
		content: "";
		float: left;
	}
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
}
.front {
	transition: background-color 0.2s linear;
}
.back {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s linear;
}
